### Pandas .To_sql ###

In [1]:
import sqlalchemy
import pyodbc 
import os
import pandas as pd

In [2]:
os.getcwd()

'C:\\Users\\oong1'

In [5]:
print(os.listdir())

[' webscraping.ipynb', '.anaconda', '.bash_history', '.conda', '.condarc', '.continuum', '.docker', '.gitconfig', '.ipynb_checkpoints', '.ipython', '.jupyter', '.matplotlib', '.spyder-py3', '.ssh', '.vscode', 'anaconda3', 'AppData', 'Application Data', 'Contacts', 'Cookies', 'Desktop', 'Documents', 'Downloads', 'Excel to MS sql server.ipynb', 'Excel With Python.ipynb', 'Favorites', 'Jedi', 'Library,Control Flow,Function & Module .ipynb', 'Links', 'Local Settings', 'Microsoft', 'Music', 'My Documents', 'NetHood', 'NTUSER.DAT', 'ntuser.dat.LOG1', 'ntuser.dat.LOG2', 'NTUSER.DAT{353d290a-6aa8-11ee-be80-ced3381205b5}.TM.blf', 'NTUSER.DAT{353d290a-6aa8-11ee-be80-ced3381205b5}.TMContainer00000000000000000001.regtrans-ms', 'NTUSER.DAT{353d290a-6aa8-11ee-be80-ced3381205b5}.TMContainer00000000000000000002.regtrans-ms', 'ntuser.ini', 'OneDrive', 'PrintHood', 'Recent', 'Saved Games', 'Searches', 'SendTo', 'Start Menu', 'Templates', 'ultimatepython.ipynb', 'Untitled Folder', 'Videos', 'การทำงานกับไฟล์ และโฟลเดอร์.ipynb', 'ย้าย Folder โดยแยกประเภทไฟล์.ipynb']

In [6]:
import platform
print(platform.node())

patchanarin

In [7]:
import socket
socket.gethostname()

'patchanarin'

In [3]:
pyodbc.drivers()

['SQL Server',
 'ODBC Driver 17 for SQL Server',
 'SQL Server Native Client 11.0',
 'SQL Server Native Client RDA 11.0',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)',
 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)']

In [4]:
from sqlalchemy import create_engine

connection_string = f'mssql+pyodbc://PATCHANARIN\SQLEXPRESS/mydatabae?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server'
engine = create_engine(connection_string)

In [5]:
df = pd.read_sql("SELECT * FROM test", engine)
df

    Sub_sourcelist Group   Number
0              AA1     A     55.0
1              AA2     A    110.0
2              AA3     A    165.0
3              AA4     A    220.0
4              AA5     A    275.0
..             ...   ...      ...
995          AA996     D  54780.0
996          AA997     D  54835.0
997          AA998     D  54890.0
998          AA999     D  54945.0
999         AA1000     D  55000.0

[1000 rows x 3 columns]

In [33]:
df = df.head(1000)

In [34]:
try:
    df.to_sql('test',con = engine, if_exists = 'replace' , index = False)
except Exception as e:
    print(f"เกิดข้อผิดพลาด: {e}")

### pyodbc ###

In [121]:
import pyodbc

conn = pyodbc.connect(
    'DRIVER=SQL Server Native Client 11.0;'
    'SERVER=PATCHANARIN\SQLEXPRESS;'
    'DATABASE=mydatabae;'
    'Trusted_Connection=yes;'
)
cursor = conn.cursor()
cursor

In [36]:
cursor.execute("SELECT * FROM test")

rows = cursor.fetchall()

 
columns = [column[0] for column in cursor.description]


df= pd.DataFrame.from_records(rows,columns=columns)

    Sub_sourcelist Group   Number
0              AA1     A     55.0
1              AA2     A    110.0
2              AA3     A    165.0
3              AA4     A    220.0
4              AA5     A    275.0
..             ...   ...      ...
995          AA996     D  54780.0
996          AA997     D  54835.0
997          AA998     D  54890.0
998          AA999     D  54945.0
999         AA1000     D  55000.0

[1000 rows x 3 columns]

In [41]:
for column in cursor.description:
    x = column[0]
    print(x)

Sub_sourcelist
Group
Number

In [120]:
df_insert = pd.read_csv(r"C:\Users\oong1\Downloads\Age-sex-by-ethnic-group-grouped-total-responses-census-usually-resident-population-counts-2006-2013-2018-Censuses-RC-TA-SA2-DHB\Data8277.csv" , dtype={
    'Year': 'int64',    # ปีเป็นตัวเลขจำนวนเต็ม
    'Age': 'int64',     # อายุเป็นตัวเลขจำนวนเต็ม
    'Ethnic': 'int64',    # ชาติพันธุ์เป็นข้อความ
    'Sex': 'int64',       # เพศเป็นข้อความ (ชาย/หญิง)
    'Area': 'str',      # พื้นที่เป็นข้อความ
    'count': 'str',
})
df_insert = df_insert.head(1000)
df_insert

     Year  Age  Ethnic  Sex Area count
0    2018    0       1    1   01   795
1    2018    0       1    1   02  5067
2    2018    0       1    1   03  2229
3    2018    0       1    1   04  1356
4    2018    0       1    1   05   180
..    ...  ...     ...  ...  ...   ...
995  2018    1    9999    2   08  1455
996  2018    1    9999    2   09  2829
997  2018    1    9999    2   12   141
998  2018    1    9999    2   13  3396
999  2018    1    9999    2   14  1059

[1000 rows x 6 columns]

In [131]:
# กำหนดประเภทข้อมูลสำหรับแต่ละคอลัมน์
column_types = {
    'Year': 'INT',     # ปีเป็นตัวเลขจำนวนเต็ม
    'Age': 'INT',      # อายุเป็นตัวเลขจำนวนเต็ม
    'Ethnic': 'INT',  # ชาติพันธุ์เป็นข้อความ
    'Sex': 'INT',     # เพศเป็นข้อความ (ชาย/หญิง)
    'Area': 'VARCHAR(255)',   # พื้นที่เป็นข้อความ
    'count': 'VARCHAR(255)'
}

In [132]:
table_name = "test_insert"
columns = ""

In [133]:
# สร้างคอลัมน์ SQL โดยอิงจาก dictionary
for column, dtype in column_types.items():
    columns += f"{column} {dtype},"

In [134]:
columns = columns.rstrip(',')  # ลบเครื่องหมาย ',' สุดท้ายออก
columns

'Year INT,Age INT,Ethnic INT,Sex INT,Area VARCHAR(255),count VARCHAR(255)'

In [135]:
# สร้าง SQL สำหรับสร้างตาราง
create_table_sql = f"CREATE TABLE {table_name} ({columns})"
create_table_sql

'CREATE TABLE test_insert (Year INT,Age INT,Ethnic INT,Sex INT,Area VARCHAR(255),count VARCHAR(255))'

In [136]:
# รันคำสั่ง SQL เพื่อสร้างตาราง
cursor.execute(create_table_sql)
conn.commit()

print(f"Table '{table_name}' created successfully!")

Table 'test_insert' created successfully!

In [137]:
print(df_insert.columns)

Index(['Year', 'Age', 'Ethnic', 'Sex', 'Area', 'count'], dtype='object')

In [83]:
insert_query = '''  INSERT INTO test_insert (Year,Age,Ethnic,Sex,Area,count)
                    VALUES (?,?,?,?,?,?); '''

In [142]:
# แทรกข้อมูลลงในตาราง
for index, row in df_insert.iterrows():
    # ตรวจสอบว่าคอลัมน์ใน column_types มีอยู่ใน row
    values_to_insert = []
    for column in column_types.keys():
        values_to_insert.append(row[column])  # เพิ่มค่าลงใน list
        
    cursor.execute(
        f"INSERT INTO {table_name} ({', '.join(column_types.keys())}) VALUES ({', '.join(['?'] * len(values_to_insert))})",
        values_to_insert
    )

conn.commit()
print("Data inserted successfully!")

Data inserted successfully!

In [118]:
cursor.close()
conn.close()